<%-include('partials/header')%>

<link rel="stylesheet" type="text/css" href="css/postintern.css">

<body class="signup-page sidebar-collapse" style="background-color:#848ccf;">
  <div class="page-header header-filter" style=" background-size: cover; background-position: top center;">
    <div class="container">
      <div class="row">
        <div class="col-md-10 ml-auto mr-auto">
          <div class="card card-signup">
            <h2 class="card-title text-center">Apply for an internship</h2>
            <div class="card-body">
              <div class="row">
                <div class="col-md-5 ml-auto">
                  <img src="/main/apply.svg" width="300px" class="img-responsive" style="float:left; padding-bottom:100px;padding-top: 100px;margin-top: 10%;">
                </div>
                <div class="col-md-5 mr-auto">
                  <%# <div style="padding: 0 20%;"> %>
                  <form class="form" method="POST" action="/internship/apply">
                    <input name='job_id' style='display:none' value='<%=job._id%>'>
                    <%# <div class="form-group form-item">
                      <h4>Name</h4>
                      <div class="input-group ">
                        <input name="name" required type="text" class="form-control" value="">
                      </div>
                    </div>
                    <div class="form-group form-item">
                      <h4>College Name</h4>
                      <div class="input-group ">
                        <input name="college_name" required type="text" class="form-control" value="">
                      </div>
                    </div>
                    <div class="form-group form-item">
                      <h4 style="margin-bottom:0;">Skills</h4>
                      <div class="input-group ">
                        <textarea required name='skill' type="text" class="form-control" rows="4" id="exampleInputTextarea">Skills</textarea>
                      </div>
                    </div>
                    <div class="form-group form-item">
                      <h4>City</h4>
                      <div class="input-group ">
                        <input name="city" type="text" class="form-control" value="">
                      </div>
                    </div> %>
                    <%if (typeof(job.Question1) != 'undefined'){%>
                    <div class="form-group form-item">
                      <h4><%=job.Question1%></h4>
                      <div class="input-group ">
                        <textarea name='question1' required type="text" class="form-control" rows="5" id="exampleInputTextarea1"></textarea>
                      </div>
                    </div>
                    <%}%>
                    <%if (typeof(job.Question2) != 'undefined'){%>
                    <div class="form-group form-item">
                      <h4><%=job.Question2%></h4>
                      <div class="input-group ">
                        <textarea name='question2' required type="text" class="form-control" rows="5" id="exampleInputTextarea2"></textarea>
                      </div>
                    </div>
                    <%}%>
                    <%if (typeof(job.Question2) != 'undefined'){%>
                    <div class="form-group form-item">
                      <h4><%=job.Question3%></h4>
                      <div class="input-group ">
                        <textarea name='question3' required type="text" class="form-control" rows="5" id="exampleInputTextarea3"></textarea>
                      </div>
                    </div>
                    <%}%>
                    <div class="text-center">
                      <button type='submit' class="btn btn-info btn-round">ADD</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%# </div> %>
                </div>
              </div>
            </div>
</body>

<script src="/js/postintern.js" charset="utf-8"></script>

<%-include('partials/footer')%>
