<%-include('partials/header')%>
<link rel="stylesheet" href="/css/getintern.css">

<body class="signup-page sidebar-collapse" style="background-color:#848ccf;">
  <div class="page-header header-filter" style=" background-size: cover; background-position: top center;">
    <div class="container">
      <div class="row">
        <div class="col-md-12 ml-auto mr-auto" style="margin-top:50px;">
          <div class="MainCard">
            <div class="row">
              <div class="col-md-3">
                <div class="card">
                  <div class="card-body">
                    <form action="/action_page.php">
                      <div class="row">
                        <div>
                          <h5 class="card-title text-center">FILTERS</h5>
                          <label for="category">Category</label>
                          <input type="text" id="category" name="job_category" placeholder="Eg:-Engineering...">
                          <label for="title">Title</label>
                          <input type="text" id="title" name="job_title" placeholder="Eg:-Web Development...">
                          <label for="location">Location</label>
                          <input type="text" id="category" name="location" placeholder="Eg:-Delhi...">
                        </div>
                        <div>
                          <div>
                            <label for="work">Work from Home</label>
                            <input type="checkbox">
                          </div>
                          <div>
                            <label for="part-time">Part-time</label>
                            <input type="checkbox">
                          </div>
                          <div>
                            <label for="date">Starting Date(or after)</label>
                            <input type="date" id="category" name="date" placeholder="Choose date">
                          </div>
                          <div>
                            <label for="months">Duration</label>
                            <input type="text" id="category" name="months" placeholder="State duration(in months)">
                          </div>
                          <div>
                            <label for="work">Internship with job</label>
                            <input type="checkbox">
                          </div>
                          <div>
                            <center><input type="submit" value="Search"></center>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="col-md-9">
                <%jobs.forEach(job=>{%>
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">INTERNSHIPS</h5>
                    <div class="container1">
                      <form id="job<%=job._id%>" method='POST' action="/internship/view">
                        <input name='job_id' style='display:none' value='<%=job._id%>'>
                        <h4>Title: <%=job.job_title%></h4>
                        <h5>Company Name: <%=job.company_name%></h5>
                        <div class="float-container1">
                          <%if (job.onsite==false){%>
                          <h5>Work from Home</h5>
                          <%} else {%>
                          <h5>Location: <%=job.job_location%></h5>
                          <%}%>
                            <div class="float-child3">
                              <h4>Start Date</h4>
                                <div><%=job.start_date.toDateString()%></div>
                    </div>
                    <div class="float-child3">
                      <h4>Duration</h4>
                      <div><%=job.job_duration%></div>
                    </div>

                    <div class="float-child3">
                      <h4>Stipend</h4>
                      <%if (job.paid==true){%>
                      <div><%=job.job_stipened%></div>
                      <%} else {%>
                      <div>Unpaid</div>
                      <%}%>
                            </div>

                            <div class="float-child3">
                              <h4>Apply By</h4>
                                <div><%=job.apply_last.toDateString()%>
                    </div>
                  </div>
                  <div class="div" id='<%=job._id%>' onclick='details(this)'><a href="#">View details ></a></div>
                </div>
                </form>
              </div>
            </div>
          </div>
          <%})%>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>
</body>
<%-include('partials/footer')%>
<script>
  function details(input) {
    document.getElementById("job" + input.id).submit();
  }
</script>
