<%-include('partials/header')%>
<link rel="stylesheet" href="/css/getintern.css">

<body class="signup-page sidebar-collapse" style="background-color:#848ccf;">
  <div class="page-header header-filter" style=" background-size: cover; background-position: top center;">
    <div class="container">
      <div class="row">
        <div class="col-md-12 ml-auto mr-auto" style="margin-top:50px;">
          <div class="MainCard">
            <div class="row">
              <div class="col-md-3">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <form action="/search/internship" method="post">
                        <div>
                          <h5 class="card-title text-center">FILTERS</h5>
                          <label for="category">Category</label> <br>
                          <%if (typeof(parameters.job_category) !='undefined'){%>
                              <select id="category" name="job_category">
                                <option value='none'>-------------</option>
                              </select>

                          <%} else {%>

                          <select id="category" name="job_category">
                            <option value='none'>-------------</option>
                          </select>
                          <%}%>
                          <br><label for="title">Title</label><br>
                          <%if (typeof(parameters.job_title) !='undefined'){%>

                          <select id="title" name="job_category">
                            <option>
                          </select>
                          <%} else {%>

                          <select id="title" name="job_category">

                          </select>
                          <%}%>
                          <br><label for="location">Location</label>
                          <%if (typeof(parameters.job_location) !='undefined'){%>
                          <input type="text" id="location" name="job_location" value='<%=parameters.job_location%>' placeholder="Eg:-Web Development...">
                          <%} else {%>
                          <input type="text" id="location" name="job_location" placeholder="Eg:-Delhi...">
                          <%}%>
                        </div>
                        <div>
                          <div>
                            <label for="work">Work from Home</label>
                            <%if (typeof(parameters.home) !='undefined' && parameters.home=='on'){%>
                          <input type="checkbox" name='home' id="home" checked>
                          <%} else {%>
                          <input type="checkbox" name='home'>
                          <%}%>
                          </div>
                          <div>
                            <label for="work">Internship</label>
                            <%if (typeof(parameters.internship) !='undefined' && parameters.internship=='on'){%>
                          <input type="checkbox" name='internship' id="internship" checked>
                          <%} else {%>
                          <input type="checkbox" name='internship'>
                          <%}%>
                          </div>
                          <div>
                            <label for="work">Job</label>
                            <%if (typeof(parameters.job) !='undefined' && parameters.job=='on'){%>
                          <input type="checkbox" name='job' id="job" checked>
                          <%} else {%>
                          <input type="checkbox" name='job'>
                          <%}%>
                          </div>
                          <div>
                            <label for="months">Duration</label>
                            <%if (typeof(parameters.duration) !='undefined'){%>
                          <input type="text" id="duration" name="duration" placeholder="State duration(in months)" value='<%=parameters.duration%>'>
                          <%} else {%>
                          <input type="text" id="duration" name="duration" placeholder="State duration(in months)">
                          <%}%>
                          </div>
                          <div>
                            <label for="date">Starting Date(or after)</label>
                            <%if (typeof(parameters.start_date) !='undefined' && parameters.start_date){%>
                          <input type="date" id="date" name="start_date" placeholder="Choose date" value='<%=parameters.start_date%>'>
                          <%} else {%>
                          <input type="date" id="date" name="start_date" placeholder="Choose date">
                          <%}%>
                          </div>
                          <div>
                            <center><input type="submit" value="Search"></center>
                          </div>
                        </div>
                        </form>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="col-md-9">

                <%jobs.forEach(job=>{%>

                          <div class="card">
                            <div class="card-body">
                            <% if (job.jobtype=='Internship'){%>
                              <h5 class="card-title">INTERNSHIPS</h5>
                              <%} else if (job.jobtype=='Job') {%>
                                  <h5 class="card-title">JOBS</h5>
                              <%}%>
                              <div class="container1">
                                <form id="job<%=job._id%>" method='POST' action="/internship/view">
                                  <input name='job_id' style='display:none' value='<%=job._id%>'>
                                  <h4>Title: <%=job.job_title%></h4>
                                  <h5>Company Name: <%=job.company_name%></h5>
                                  <div class="float-container1">
                                    <%if (job.onsite==false){%>
                                    <h5>Work from Home</h5>
                                    <%} else {%>
                                    <h5>Location: <%=job.job_location%></h5>
                                    <%}%>
                            <div class="float-child3">
                              <h4>Start Date</h4>
                                <div><%=job.start_date.toDateString()%></div>
                              </div>
                              <div class="float-child3">
                                <h4>Duration</h4>
                                <div><%=job.job_duration%></div>
                              </div>

                              <div class="float-child3">
                                <h4>Stipend</h4>
                                <%if (job.paid==true){%>
                                <div><%=job.job_stipened%></div>
                                <%} else {%>
                                <div>Unpaid</div>
                                <%}%>
                            </div>

                            <div class="float-child3">
                              <h4>Apply By</h4>
                                <div><%=job.apply_last.toDateString()%>
                              </div>
                            </div>
                            <div class="div" id='<%=job._id%>' onclick='details(this)'><a href="#">View details ></a></div>
                          </div>

                      </form>
                    </div>
                  </div>
                </div>

                <%})%>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    function details(input) {
      document.getElementById("job" + input.id).submit();
    }
    const URL = "/admin/jobtitles"
    $.ajax({
        url: URL,
        method: "GET"
    }).done(function(data){
        console.log(data);
        window.resArray = data;
        data.forEach((item) => {
            $('#category').append('<option value="' + item.job_category + '">' + item.job_category + '</option>');
        });
    });

    // $(function() {
    //   $('#category').selectpicker();
    // });

    $('#category').on('change', function() {
      selectedcategory = $('#category').find(":selected").text();
      $('#title option').remove();
      if ($('#category').find(":selected").val() === 'none') {
        $('#subcategory').append("<option value='none'>-------------</option>");
      } else {
        resArray.forEach(item => {
          if (item.job_category === selectedcategory) {
            item.job_title.forEach(titles => {
              $('#title').append('<option value="' + titles + '">' + titles + '</option>');
            });
          }
        });
      }
    });
  </script>
</body>
<%-include('partials/footer')%>
