<%-include('partials/header')%>

<style>
  .hi {
    text-align: left;

    color: blue;
    font-size: 20px;
    text-decoration: underline;
  }

  .h10 {
    font-family: 'Courier New', Courier, monospace;

    text-align: center;
    text-decoration: underline;
  }

  table {

    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    border-collapse: collapse;
    text-align: left;
    padding: 8px;
  }

  .h4 {
    size: 100px;
    background-color: lightblue;
  }

  .h5 {
    size: 50px;
  }

  .options {
    margin: 0 7px;
    cursor: pointer;
  }

  .cen {
    text-align: center;
  }
</style>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">

<body class="signup-page sidebar-collapse" style="background-color:#848ccf;">
  <div class="page-header header-filter" style=" background-size: cover; background-position: top center;">
    <div class="container">
      <div class="row">
        <div class="ml-auto mr-auto">
          <a href="#"></a>
          <div class="card card-signup">
            <div class="card-body">
              <h2 class="card-title text-center">Applied Internships</h2>
              <div class="h3">
                <table>
                  <tr class="h4">
                    <th style="background-color: lightblue;" class="cen">Profile</th>
                    <th style="background-color: lightblue;" class="cen">Employment Type</th>
                    <th style="background-color: lightblue;" class="cen">Posted On</th>
                    <th style="background-color: lightblue;" class="cen">No of Applicants Recruited</th>
                    <th style="background-color: lightblue;" class="cen">Vacancy</th>
                    <th style="background-color: lightblue;" class="cen">Applications</th>
                    <th style="background-color: lightblue;" class="cen">Review Internship</th>
                  </tr>
                  <%jobs.forEach(job => {%>
                  <tr class="h5">
                    <td class="cen"><%=job.job_title%></td>
                    <td class="cen"><%=job.jobtype%></td>
                    <td class="cen"><%=job.job_published.toDateString()%></td>
                    <td class="cen"><%=job.applicants_accepted%></td>
                    <td class="cen"><%=job.intake-job.applicants_accepted%></td>
                    <!-- <td class="cen"><a href="#">View</a></td> -->
                    <form id="job<%=job._id%>" method='POST' action="/internship/jobapplications">
                      <input name='job_id' style='display:none' value='<%=job._id%>'>
                      <td style="text-decoration: underline;
      color:red;" id='<%=job._id%>' onclick='details(this)'><a href="#">View</a></td>
                    </form>
                    <td class="cen">
                                              <div>
                      <a href="#">

                        <form id="view<%=job._id%>" method='POST' action="/internship/viewinternship">
                          <input name='job_id' style='display:none' value='<%=job._id%>'>
                          <i id='<%=job._id%>' onclick='view(this)' style="color:black" class="far fa-eye options"></i>
                        </form>

                      </a>
                                              </div>
                      <a href="#">
                        <i style="color:blue" class="far fa-edit options"></i>
                      </a>
                      <a href="#">
                        <i style="color:red" class="far fa-trash-alt options"></i>
                      </a>
                    </td>
                  </tr>
                  <%})%>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    function details(input) {
      document.getElementById("job" + input.id).submit();
    }
    function view(input) {
      document.getElementById("view" + input.id).submit();
    }
  </script>
</body>

<%-include('partials/footer')%>
