<%-include('partials/header')%>


<link rel="stylesheet" type="text/css" href="/css/profile.css">
<link href="/assets/css/material-kit.css" rel="stylesheet" />

<body class="signup-page sidebar-collapse" style="background-color:#848ccf;">
  <div class="page-header header-filter" style=" background-size: cover; background-position: top center;">
    <div class="container">
      <div class="row">
        <div class="ml-auto mr-auto">
          <div class="card card-signup">
            <h2 class="card-title text-center">Profile</h2>
            <div class="card-body">
              <div class="profile-main">
                <div class="profile-header">
                  <div class="user-detail">
                    <div class="user-data">
                      <h2><%=user.FirstName%> <%=user.LastName%></h2>
                      <span class="post-label">Trainer</span>
                      <span class="post-label"><%=user.CompanyName%></span>
                      <%if (user.isVerified){%>
                      <span class="post-label">Verified</span>
                      <%} else {%>
                      <span class="post-label">UnVerified</span>
                      <%}%>
                      <%if (user.admin_accept){%>
                      <span class="post-label">Accepted</span>
                      <%} else if (user.admin_reject) {%>
                      <span class="post-label">Rejected</span>
                      <%} else {%>
                      <span class="post-label">Pending</span>
                      <%}%>
	            					<br>
                      <i class="fa fa-location-arrow" aria-hidden="true"></i> Email Id : <%=user.Email%>
                    </div>
                  </div>
                  <div class="tab-panel-main">
                    <ul class="tabs">
                      <li class="tab-link current" data-tab="Basic-detail">Basic Detail</li>
                    </ul>
                    <div id="Basic-detail" class="tab-content current">
                      <div class="detail-box">
                        <p>Detail</p>
                        <ul class="ul-first">
                          <li>Username</li>
                          <li>Phone No.</li>
                          <li>University Name</li>

                        </ul>
                        <ul class="ul-second">
                          <l1><%=user.username%></l1>
                          <li><%=user.phoneNumber%></li>
                          <li><%=user.CompanyName%></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div style="clear: both;"></div>
                <p class="line"><a href='/profile/updateemployer'>EDIT DETAILS</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $(document).ready(function() {
      $('ul.tabs li').click(function() {
        var tab_id = $(this).attr('data-tab');

        $('ul.tabs li').removeClass('current');
        $('.tab-content').removeClass('current');

        $(this).addClass('current');
        $("#" + tab_id).addClass('current');
      });
    });
  </script>
</body>
<%-include('partials/footer')%>
