<%-include('partials/header')%>

<link rel="stylesheet" type="text/css" href="/css/profile-stud.css">
<link href="/assets/css/material-kit.css" rel="stylesheet" />

<body class="signup-page sidebar-collapse" style="background-color:#848ccf;">
  <div class="page-header header-filter" style=" background-size: cover; background-position: top center;">
    <div class="container">
      <div class="row">
        <div class="ml-auto mr-auto">
          <div class="card card-signup">
            <h2 class="card-title text-center">Profile</h2>
            <div class="card-body">
              <div class="profile-main">
                <div class="profile-header">
                  <div class="user-detail">
                    <div class="user-data">
                      <h2><%=user.FirstName%> <%=user.LastName%></h2>
                      <span class="post-label">Student</span>
                      <span class="post-label"><%=user.CollegeName%></span>
                      <%if (user.isVerified){%>
                      <span class="post-label">Verified</span>
                      <%} else {%>
                      <span class="post-label">UnVerified</span>
                      <%}%>
                      <br>
                      <i class="fa fa-map-marker" aria-hidden="true" style="margin-right:5px;"></i><%=user.City%>, India <br>
                      <i class="fa fa-location-arrow" aria-hidden="true"></i> Email Id : <%=user.Email%>
                    </div>
                  </div>
                  <div class="tab-panel-main">
                    <ul class="tabs">
                      <li class="tab-link current" data-tab="Basic-detail">Basic Detail</li>
                    </ul>
                    <div id="Basic-detail" class="tab-content current">
                      <div class="skill-box">
                        <ul>
                          <li><strong>Basic Skills:</strong></li>
                          <li>
                            <%=user.BasicSkills%>
                          </li>
                        </ul>
                      </div>
                      <div class="detail-box">
                        <p>Detail</p>
                        <ul class="ul-first">
                          <li>Username</li>
                          <li>Birth date</li>
                          <li>City</li>
                          <li>College Name</li>
                        </ul>
                        <ul class="ul-second">
                          <li><%=user.username%></li>
                          <li>8 March 1997</li>
                          <li><%=user.City%></li>
                          <li><%=user.CollegeName%></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div style="clear: both;"></div>
                <p class="line"><a href='/profile/updatestudent'>EDIT DETAILS</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script type="text/javascript">
  $(document).ready(function() {
    $('ul.tabs li').click(function() {
      let tab_id = $(this).attr('data-tab');

      $('ul.tabs li').removeClass('current');
      $('.tab-content').removeClass('current');

      $(this).addClass('current');
      $("#" + tab_id).addClass('current');
    });
  });
</script>
<%-include('partials/footer')%>
