<%-include('partials/header')%>

<style>
  table {
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    border-collapse: collapse;
    text-align: left;
    padding: 8px;
  }

  .h4 {
    size: 100px;
    background-color: lightblue;
  }

  .h5 {
    size: 50px;
  }
</style>

<body class="signup-page sidebar-collapse" style="background-color:#848ccf;">
  <div class="page-header header-filter" style=" background-size: cover; background-position: top center;">
    <div class="container">
      <div class="row">
        <div class="ml-auto mr-auto">
          <div class="card card-signup">
            <div class="card-body">
              <h2 class="card-title text-center">Applied Internships</h2>
              <div class="h3">
                <%if (internships>0){%>
                <table>
                  <tr class="h4">
                    <th>Company</th>
                    <th>Profile</th>
                    <th>Employment Type</th>
                    <th>Applied On</th>
                    <th>No of Applicants</th>
                    <th>Application Status</th>
                    <th>Review Application</th>
                  </tr>
                  <% applications.forEach(application=>{%>
                  <% if (application.job_type=='Internship'){%>
                  <tr class="h5">
                    <td><%=application.company_name%></td>
                    <td><%=application.job_title%></td>
                    <td><%=application.job_type%></td>
                    <td><%=application.applied_on.toDateString()%></td>
                    <td><%=application.no_of_applicants%></td>
                    <%if (application.is_accept){%>
                    <td>Accepted</td>
                    <%} else if (application.is_reject){%>
                    <td>Rejected</td>
                    <%} else if (!application.is_accept && !application.is_reject) {%>
                    <td>Pending</td>
                    <%}%>
                    <form id="applicant<%=application._id%>" method='POST' action="/internship/studentapplicationdetails">
                    <input name='applicant_id' style='display:none' value='<%=application._id%>'>
                    <td style="text-decoration: underline;
                  color:red;" id='<%=application._id%>' onclick='details(this)'><a href="#">View Details</a></td>
                    </form>
                  </tr>
                  <%}%>
                  <%})%>
                </table>
                <%} else {%>
                <center>
                  <h3 class="display-5" style="text-align: center;">You haven't applied for any internship</h3>
                </center>
                <%}%>
                </div>

                <h2 class="card-title text-center">Applied Jobs</h2>
                <div class="h3">
                <%if (jobs>0){%>
                <table>
                  <tr class="h4">
                    <th>Company</th>
                    <th>Profile</th>
                    <th>Employment Type</th>
                    <th>Applied On</th>
                    <th>No of Applicants</th>
                    <th>Application Status</th>
                    <th>Review Application</th>
                  </tr>
                  <% applications.forEach(application=>{%>
                  <% if (application.job_type=='Job'){%>
                  <tr class="h5">
                    <td><%=application.company_name%></td>
                    <td><%=application.job_title%></td>
                    <td><%=application.job_type%></td>
                    <td><%=application.applied_on.toDateString()%></td>
                    <td><%=application.no_of_applicants%></td>
                    <%if (application.is_accept){%>
                    <td>Accepted</td>
                    <%} else if (application.is_reject){%>
                    <td>Rejected</td>
                    <%} else if (!application.is_accept && !application.is_reject) {%>
                    <td>Pending</td>
                    <%}%>
                    <form id="applicant<%=application._id%>" method='POST' action="/internship/studentapplicationdetails">
                    <input name='applicant_id' style='display:none' value='<%=application._id%>'>
                    <td style="text-decoration: underline;
                    color:red;" id='<%=application._id%>' onclick='details(this)'><a href="#">View Details</a></td>
                    </form>
                  </tr>
                  <%}})%>
                </table>
                <%} else {%>
                <center>
                  <h3 class="display-5" style="text-align: center;">You haven't applied for any jobs</h3>
                </center>
                <%}%>
                  </div>
                  <h2 class="card-title text-center">Applied Courses</h2>
                  <div class="h3">
                    <%if (courses>0){%>
                <table>
                  <tr class="h4">
                    <th>Company</th>
                    <th>Profile</th>
                    <th>Applied On</th>
                    <th>No of Applicants</th>
                    <th>Review Application</th>
                  </tr>
                  <% applications.forEach(application=>{%>
                  <% if (application.job_type=='Course'){%>
                  <tr class="h5">
                    <td><%=application.company_name%></td>
                    <td><%=application.job_title%></td>
                    <td><%=application.applied_on.toDateString()%></td>
                    <td><%=application.no_of_applicants%></td>
                    <form id="applicant<%=application._id%>" method='POST' action="/internship/studentapplicationdetails">
                      <input name='applicant_id' style='display:none' value='<%=application._id%>'>
                      <td style="text-decoration: underline;
                      color:red;" id='<%=application._id%>' onclick='details(this)'><a href="#">View Details</a></td>
                    </form>
                  </tr>
                  <%}})%>
                </table>
                <%} else {%>
                <center>
                  <h3 class="display-5" style="text-align: center;">You haven't applied for any coures</h3>
                </center>
                <%}%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    function details(input) {
      document.getElementById("applicant" + input.id).submit();
    }
  </script>
</body>

<%-include('partials/footer')%>
