<%-include('partials/header')%>
<link rel="stylesheet" href="/css/internship-details.css">

<body class="signup-page sidebar-collapse" style="background-color:#848ccf;">
  <div class="page-header header-filter" style=" background-size: cover; background-position: top center;">
    <div class="container">
      <div class="row">
        <div class="col-md-12 ml-auto mr-auto" style="margin-top:50px;">
          <div class="MainCard">
            <div class="card">
              <div class="card-body">
                  <% if (job.jobtype=='Internship'){%>
                  <h5 class="card-title">INTERNSHIP</h5>
                  <%} else if (job.jobtype=='Job') {%>
                  <h5 class="card-title">JOB</h5>
                  <%}%>
                <div class="container1">
                  <input name='job_id' style='display:none' value='<%=job._id%>'>
                  <h4>Category: <%=job.job_category%></h4>
                  <h4>Title: <%=job.job_title%></h4>
                  <h5>Company Name: <%=job.company_name%></h5>
                  <div class="float-container1">
                    <%if (job.onsite==false){%>
                    <h5>Work from Home</h5>
                    <%} else {%>
                    <h5>Location: <%=job.job_location%></h5>
                    <%}%>
                <%if (job.jobtype=='Internship'){%>
                <div class="float-child3">
                    <h4>Start Date</h4>
                    <div><%=job.start_date.toDateString()%></div>
                </div>
                <div class="float-child3">
                  <h4>Duration</h4>
                  <div><%=job.job_duration%></div>
                </div>
                <div class="float-child3">
                    <% if (job.jobtype=='Internship'){%>
                   <h4>Stipend</h4>
                    <%} else if (job.jobtype=='Job') {%>
                    <h4>Salary</h4>
                    <%}%>
                  <%if (job.paid==true){%>
                  <div><%=job.job_stipened%></div>
                  <%} else {%>
                  <div>Unpaid</div>
                  <%}%>
                </div>
                <div class="float-child3">
                    <h4>Apply By</h4>
                <div><%=job.apply_last.toDateString()%>

                <%} else {%>

                    <div class="float-child4">
                        <h4>Start Date</h4>
                        <div><%=job.start_date.toDateString()%></div>
                    </div>
                    <div class="float-child4">
                      <h4>Duration</h4>
                      <div><%=job.job_duration%></div>
                    </div>
                    <div class="float-child4">
                      <h4>Salary</h4>
                      <%if (job.paid==true){%>
                      <div><%=job.job_stipened%></div>
                      <%} else {%>
                      <div>Unpaid</div>
                      <%}%>
                    </div>
                    <div class="float-child4">
                      <h4>Type</h4>
                      <%if (job.parttime==true){%>
                      <div>Part Time</div>
                      <%} else {%>
                      <div>Full Time</div>
                      <%}%>
                    </div>
                    <div class="float-child4">
                        <h4>Apply By</h4>
                    <div><%=job.apply_last.toDateString()%>

                <%}%>
                </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div style="padding: 20px;" class="">
        <h3>About OYE India</h3>
        <p>
          <a href="/">Homepage</a><br>
          <%=user.CompanyDescription%>
        </p>
        <% if (job.jobtype=='Internship'){%>
       <h3>About the internship</h3>
        <%} else if (job.jobtype=='Job') {%>
        <h3>About the job</h3>
        <%}%>

        <p>
          <%=job.job_content%>
        </p>
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>
</body>
<%-include('partials/footer')%>
